.roomStyle{
    color:#000000;
}
.roomNumber{
    color:#FFFFFF;
    font-size: small;
}
#codePre {
    display: block;
    font-size: 15px;
    text-align: left;
}

#resultPre {
    display: block;
    font-size: 15px;
    text-align: left;
}
#chalengeUl {
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    list-style-type: none;
}
.title{
    color:#000000;
}
.inputText{
    display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 6px 43%;
  border: 1px solid #b7b7b7;
  border-right-width: 0;
  -webkit-border-radius: 17px;
  border-radius: 17px;
 
  color: rgb(0,0,0);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(166, 166, 166);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
}
.variableInput {
  color:#000000;
    size: 100%;
}

#blocklyArea {
  height: 50%;
  width: 50%;
  padding-left: 50px;
  background: #fff;
  text-align: center;
}

#overlay-back {
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 0.6;
    filter     : alpha(opacity=60);
    z-index    : 5;
    display    : none;

}

#caixaResposta {
    margin-top: 5%;
    display: inline-block;
    border-radius: 25px;
    background:  rgb(166, 166, 166);
    padding: 20px; 
    width: 85%;
    height: 95%; 
    font-family:Arial;
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
    color:#4d4d4d;
}
#btnOk {
    background-color: #a6a6a6;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 20px 20px 20px 20px;
    border-style: transparent;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    top: 105%;
    font-size: 17px;
    left: 46%;
    font-weight: bold;
    padding: 8px 17px;
    position: absolute;
    text-decoration: none;
}

#divTutorial {
    padding: 23px;
    width: 94%;
    height: 107%;
    display: inline-block;
    border-radius: 25px;
    background: rgb(166, 166, 166);
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: #4d4d4d;
}


#overlay {
    position : absolute;
    top      : 0;
    left     : 8%;
    width    : 100%;
    height   : 100%;
    z-index  : 10;
    display  : none;
    color: rgb(100, 0, 0);
    text-align:center;
} 
.overlayTutorial {
    margin-top: 5%;
    margin-left: 10%;
    position: absolute;
    top: 0px;
    left: 4%;
    width: 73%;
    height: 73%;
    z-index: 10;
    display: none;
    color: #4d4d4d;
    text-align: left;
}
.overlayAlerta {
    margin-top: -6%;
    margin-left: 10%;
    position : absolute;
    top      : 50%;
    left     : 29%;
    width    : 20%;
    height   : 20%;
    z-index  : 10;
    display  : none;
    text-align:center;
    color: #4d4d4d;

} 
.divPrincipal{
    color:#000000;
    border:none;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background:rgb(166, 166, 166);
    font-family:Arial;
    font-size:12px;
    color:#ffffff;
    border-radius:20px;
}
div.total{
     margin: 0 auto;
    margin-top: -3%;
     width: 60%;
    height: 80%;
    padding: 3%;
    

}
.divSecond{
    color:#000000;
    border:solid;
    padding-left: 2%;
    padding-right: 2%;
    background: #4d4d4d;
    font-family:Arial;
    font-size:12px;
    color:#ffffff;
    border-radius:20px;
}
.divScrollMaior{
    color:#000000;
    border:solid;
    padding-left: 2%;
    padding-right: 2%;
    
    background: #4d4d4d;
    font-family:Arial;
    font-size:12px;
    color:#ffffff;
    border-radius:20px;   
}
.divScroll {
    border:medium;
    width: 100%;
    height: 20%;
    overflow:auto;

    background: #4d4d4d;
    font-family:Arial;
    font-size:12px;
    color:#ffffff;
}

#btnRun{
    background-color:#a6a6a6;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:20px 20px 20px 20px;
    border-style: transparent;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:8px 17px;
    text-decoration:none;
    position: absolute;
    right: 0%;
    bottom: -3%;
}

#btnStep{
    background-color:#a6a6a6;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:20px 20px 20px 20px;
    border-style: transparent;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:8px 17px;
    text-decoration:none;
    position: absolute;
    left: 43%;
    bottom: -3%;
}

#btnParse{
    background-color:#a6a6a6;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:20px 20px 20px 20px;
    border-style: transparent;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:8px 17px;
    text-decoration:none;
    position: absolute;
    left: 0%;
    bottom: -3%;
}

#chalenge{
    position: absolute;
    margin-top: 0%;
    border:medium;
    width: 100%;
    height: 36%;
    overflow:auto;
    color:rgb(255, 255, 255);
    background-color:#4d4d4d;
    border-radius: 25px;
}
#code{
    position: absolute;
    margin-top: 51%;
    border:medium;
    width: 100%;
    height: 40%;
    overflow:auto;
    color:rgb(255, 255, 255);
    background-color:#4d4d4d;
    border-radius: 14px;
    text-align: center;
}
#result{
    position: absolute;
    margin-top: 105%;
    border:medium;
    width: 100%;
    height: 15%;
    overflow:auto;
    color:rgb(255, 255, 255);
    background-color:#4d4d4d;
    border-radius: 25px;
    text-align: center;
}
#codeDiv{
    position: absolute;
    margin-left: 47%;
    width: 35%;
    height: 95%;
    color:rgb(0, 0, 200);
    text-align: center;
}

#languageDropdown{
    position:absolute;
    margin-top:49%;
    margin-left: -50%;
    width: 100%;
    height: 5%;
    color:rgb(255, 255, 255);
    background-color:#4d4d4d;
    border-radius: 25px;
}