.roomStyle{
    color:#000000;
}
.roomNumber{
    color:#000000;
    font-size: small;
}
.title{
    color:#000000;
}
.inputText{
    color:#000000;
    size: 100%;
}
#overlay-back {
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 0.6;
    filter     : alpha(opacity=60);
    z-index    : 5;
    display    : none;

}


#caixaResposta {
    margin-top: 20px;
    display: inline-block;
    border-radius: 25px;
    background:  rgb(204, 119, 34);
    padding: 20px; 
    width: 300px;
    height: 150px; 
    font-family:Arial;
    font-size:18px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 2px 0px #2b665e;
    color:#ffffff;
}

#overlay {
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
    z-index  : 10;
    display  : none;
    text-align: center;
    color: rgb(100, 0, 0);
} 
.divPrincipal{
    color:#000000;
    border:double;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.divSecond{
    color:#000000;
    border:double;
    padding-left: 2%;
    padding-right: 2%;
}
.divScrollMaior{
    color:#000000;
    border:dashed;
    padding-left: 2%;
    padding-right: 2%;   
}
.divScroll {
    border:medium;
    background-color: #FFFFFF;
    width: 100%;
    height: 20%;
    overflow:auto;
}
